<header>
    <button class="hamburger"><div class="st j"></div><div class="st d"></div><div class="st t"></div></button>
<h1>mwskm</h1>
</header>
<nav>
    <ul>
        <li><a href="/ustawienia">Ustawienia</a></li>
        <li><a href="/kim-jestem">Kim jestem?</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
        <li><a href="/en">EN</a></li>
        <li><a href="#" id="modalopenbox"><i class="material-icons">search</i></a></li>
    </ul>
</nav>
